<section>
  <div class="page-header">
    <h1>{{vm.shoppinglist._id ? 'Edit Shoppinglist' : 'New Shoppinglist'}}</h1>
  </div>
  <div class="col-md-12">
      <form name="vm.form.shoppinglistForm" class="form-horizontal" ng-submit="vm.save(vm.form.shoppinglistForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <h3 for="name">Name</h3>
          <input name="name" type="text" ng-model="vm.shoppinglist.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.shoppinglistForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Shoppinglist name is required.</p>
          </div>
        </div>
      <div class="form-group col-md-3" style="margin-right:30px">
             <label class="control-label" for="color-picker">Color</label>
             <input type="color" name="color-picker" ng-model="vm.shoppinglist.color" class="form-control" />
           </div>
           <div class="form-group col-md-3 col-md-offset-1">
             <label class="control-label" for="color">Please input color hex code</label>
             <input name="color" type="text"  id="color" class="form-control" ng-model="vm.shoppinglist.color" required />
           </div>
      <hr class="split">
          <h3>Priority: </h3>
          <select class="priority">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
            <option value="Very High">Very High</option>
          </select>
          <br />
            <h3>Items: </h3><input class="items" ng-submit="vm.save(vm.form.shoppinglistForm.$valid)" placeholder="Items">
            <br />

        <div class="form-group">
          <button type="submit" class="btn btn-default">Save</button>
          <button type="submit" class="btn btn-default">Add Item</button>
          <br />
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
