<section>
  <div class="page-header">
    <button class="back btn btn-default" ui-sref="shoppinglists.list({ shoppinglistId: shoppinglist._id })">Back to lists</button>
    <h1 ng-bind="vm.shoppinglist.name" ng-style="{color: vm.shoppinglist.color}"></h1>
    <small>
    <em class="text-muted">
      Modified on 
      <span ng-bind="vm.shoppinglist.modified | date:'MMM d, y h:mm:ss a'"></span>
      by
      <span ng-if="vm.shoppinglist.user"
            ng-bind="vm.shoppinglist.user.displayName"></span>
      <span ng-if="!vm.shoppinglist.user">Deleted User</span>
    </em>
    </small>
  </div>

  <div class="pull-left">
    <table class="table table-bordered" >
      <tr>
        <th>Contents</th>
        <th>Priority</th>
      </tr>
      <tr ng-repeat="content in vm.shoppinglist.contents" ng-style="{color: vm.shoppinglist.color}">
        <td>
          <input type="checkbox" class="checkbox" ng-model="content.isChecked" />
          <span ng-class="{checked: content.isChecked}">{{ content.content }}
          <button class="delete-button" ng-click="vm.deleteContent(i)" class="delete-icon">[X]</button>
        </td>
        <td>{{ content.priority }}</td>
      </tr>  
    </table>

    <button ng-click="vm.deleteSelectedContent()" class="btn btn-default">Clear Selected Items</button>
   <!--  <ul >
      <li ng-repeat="content in vm.shoppinglist.contents" >
        {{content}}  {{priority}}
      </li> 
    </ul>   -->
  </div>

  <div class="pull-right"
       ng-show="vm.shoppinglist.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="shoppinglists.edit({ shoppinglistId: vm.shoppinglist._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  
  <small>
    <em class="text-muted">
      Created on
      <span ng-bind="vm.shoppinglist.created | date:'MMM d, y h:mm:ss a'"></span>
      by
      <span ng-if="vm.shoppinglist.user"
            ng-bind="vm.shoppinglist.user.displayName"></span>

      <span ng-if="!vm.shoppinglist.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.shoppinglist.content"></p>

<!-- Checkbox for content -->

<!--   <div class="content">

      <ul>
      <li ng-repeat="content in vm.shoppinglist.contents">
        <input type="checkbox" class="checkbox" ng-model="vm.shoppinglist.content.isChecked" />
      <span ng-class="{'checked': vm.shoppinglist.content.isChecked}">{{ content.content }}
      <span ng-click="deleteContent(i)" class="delete-icon">[X]
        </li>
        </ul>

        <div class="mtop20">
      <button ng-click="deleteSelectedContent()">Delete Selected
      </div>

  </div> -->

</section>





